<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Day in Week</title>
  </head>
  <body>
    <h2>Hey, it`s the <%= dayInWeak %>, it`s a <%= dayType %>, <%= advice%></h2>
  </body>
</html>
